<mat-sidenav-container class="header-container" autosize>

    <mat-sidenav #sidenav mode="over">

        <h3 class="push-left-md push-bottom-md">MENU</h3>
        <p *ngFor="let menu of menus">
            <button (click)="sidenav.toggle()" routerLink="{{menu.router}}" fxLayoutAlign="start center" style="width: 100%;" mat-button>
                <mat-icon>{{menu.icon}}</mat-icon>
                <label class="push-left-md"> {{menu.title}}</label>
            </button>
        </p>

    </mat-sidenav>

    <td-layout-nav class="header-toolbar">
        <div td-toolbar-content fxLayout="row" fxLayoutAlign="start center"
            fxFlex>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h3 class="push-left-md">PROJETO</h3>

            <div fxFlex></div>
              <button (click)="view = true" class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
                <td-notification-count [notifications]="view ? 0 : lancamentosPendentes?.length" [limit]="9">
                  <mat-icon>notifications</mat-icon>
                </td-notification-count>
              </button>
              <mat-menu #notificationsMenu="matMenu" [overlapTrigger]="false">
                <td-menu>
                  <div td-menu-header style="padding: 3%;" class="mat-subheading-2 push-none">Lançamentos pendentes</div>
                  <mat-nav-list dense>
                    <div *ngFor="let lancamentoPendente of lancamentosPendentes" >
                      <a mat-list-item style="padding-top: 3%;padding-bottom: 3%;" (click)="goToLancamento(lancamentoPendente)">
                        <mat-icon matListAvatar>notifications</mat-icon>
                        <h4 matLine><span class="text-wrap">{{lancamentoPendente?.descricao}}</span></h4>
                        <p matLine>Data vencimento: {{lancamentoPendente?.dataVencimento | date:'dd/MM/yyy'}}</p>
                      </a>
                      <mat-divider *ngIf="!last"></mat-divider>
                    </div>
                  </mat-nav-list>
                  <!-- <button mat-button color="accent" td-menu-footer>
                    See All Notifications
                  </button> -->
                </td-menu>
              </mat-menu>

            <button mat-button class="push-left-md" [matMenuTriggerFor]="menu">
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button (click)="logout()" class="pad-left-lg" mat-menu-item>
                    <span class="tc-grey-800 mat-body-1">Sair</span>
                </button>
            </mat-menu>
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav>
</mat-sidenav-container>