<mat-nav-list>
    <a  mat-list-item (click)="openLink(7)">
        <span mat-line>Próximos 7 dias</span>
    </a>

    <mat-divider></mat-divider>

    <a mat-list-item (click)="openLink(15)">
        <span mat-line>Próximos 15 dias</span>
    </a>

    <mat-divider></mat-divider>

    <a  mat-list-item (click)="openLink(30)">
        <span mat-line>Próximos 30 dias</span>
    </a>

    <mat-divider></mat-divider>

    <a  mat-list-item (click)="openLink(60)">
        <span mat-line>Próximos 2 meses</span>
    </a>

    <mat-divider></mat-divider>
    
    <a  mat-list-item (click)="openLink(90)">
        <span mat-line>Próximos 3 meses</span>
    </a>
</mat-nav-list>